aiohttp==3.7.4.post0
asgiref==3.5.0
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
backcall==0.2.0
certifi==2021.10.8
chardet==4.0.0
colorama==0.4.4
discord.py==1.7.3
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.12
django-heroku==0.3.1
emoji==1.6.3
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.1
iniconfig==1.1.1
ipython-genutils==0.2.0
json5==0.9.6
mistune==0.8.4
multidict==6.0.2
nest-asyncio==1.5.4
packaging==21.3
Panda3D==1.10.11
panda3d-gltf==0.13
panda3d-simplepbr==0.9
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.1
playsound==1.3.0
pluggy==1.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
psycopg2==2.9.3
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pygame==2.1.2
Pygments==2.11.2
PyMySQL==1.0.2
pyparsing==3.0.7
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyrsistent==0.18.1
pytest==7.0.1
pytz==2021.3
pywinpty==1.1.6
pyzmq==22.3.0
screeninfo==0.8
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
testpath==0.5.0
toml==0.10.2
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
typing_extensions==4.1.1
urllib3==1.26.8
ursina==4.1.1
virtualenv==20.13.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
whitenoise==6.0.0
yarl==1.7.2
zipp==3.7.0
